<h1>Login</h1>
<% if(messages.error){ %>
  <%=  messages.error %>
<% } %>
<form action="/login" method='POST'>
    <div>
        <label for='email'>email</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for='password'>password</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">login</button>

</form>
<a href="/register">register</a>